a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: 1;
}

a:hover {
    opacity: 0.6;
}

.active{
    opacity: 1;
    font-weight: bold;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    font-size: 20px;
}

.links {
    display: flex;
    gap: 2rem;
}

#name {
    justify-self: start;
    font-size: 24px;
    font-weight: bold;
    color: rgb(247, 137, 2)
}

#name:hover {
    opacity: 0.9;
}