.item img {
  max-width: 100%;
  max-width: 100%;
  width: 32rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 2rem;
}

.item h2 {
  width: fit-content;
  position: relative;
}

.item h2::after {
  content: "";
  background-color: #ff7300;
  position: absolute;
  left: 0;
  top: 1.3em;
  width: 0%;
  height: 3px;
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.item:hover > h2::after { 
  width: 100%; 
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.img-container{
  border-radius: 0.5rem;
}

.item:nth-child(odd):hover {
  transform: rotate(2deg);
}

.item:nth-child(even):hover {
  transform: rotate(-2deg);
}
